DoughnutProgressIndicator Label#progress {
    -fx-font: 20px "Serif";
    -fx-translate-y: -15px;
    -fx-font-weight: bold;
    -fx-text-fill: #5E5E5E;
}

DoughnutProgressIndicator Label#title {
    -fx-font: 15px "Serif";
    -fx-translate-y: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: #626262;
}

DoughnutProgressIndicator Arc#progress-done {
   -fx-fill: #66AECC;
}

DoughnutProgressIndicator Arc#progress-left {
   -fx-fill: #DCDCDC;
}

DoughnutProgressIndicator Arc#background {
   -fx-fill: #F4F4F4;
}